
.homePageWrapper {
    max-width: 1400px;
    min-height: 100%;
    margin: auto;
}

@media (width: 768px) {
    .homePageWrapper {
        max-width: 768px;
        height: auto;
        margin: auto;
    }
}