
.homePageWrapper {
    max-width: 1400px;
    min-height: 100%;
    margin: auto;
    display: grid;

    justify-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

@media (width: 768px) {
    .homePageWrapper {
        max-width: 768px;
        height: auto;
        margin: auto;
    }
}