.gameTemplateComponentWrapper {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    height: 360px;
    background-color: #202020;
    color: white;
    margin: 25px auto 25px auto;
    border-radius: 18px;
    /* padding-bottom: 15px; */
    align-content: center;
    overflow: hidden;
    justify-content: center;
    transition: 1.5s;
}

.gameTemplateHeader {
    width: 100%;
    border-bottom: 2px solid black;
    height: 400px;
}
.gameTemplateComponentWrapper:hover {
    transition: 0.5s;
    -webkit-box-shadow: 0px 5px 12px 4px rgba(128, 128, 128, 0.862); 
    box-shadow: 0px 5px 12px 4px rgba(128, 128, 128, 0.862);
}

.gameTempalteWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 1s;
}

#gameName {
    margin: 0px;
    padding: 0px;
    height: 50px;
    font-size: 20px;

}

.button {
    border-radius: 5px;
    padding: 2.5px;
    width: 70px;
    height: 25px;
    background-color: rgba(128, 128, 128, 0.862);
    color: wheat;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    transition: 0.5s;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.6px;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(248, 246, 246, 0.505);
    color: black;
    transition: 0.5s;
}

.footreWrapper {
    display: flex;
    align-items: center;
    max-width: 100%;

}

.platformWrapper {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 104px;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: 1px;
}

.osWrapper {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 25px;
    margin: auto;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    align-content: center;
}

.osWrapper p {
    width: 60px;
    margin: 1px;

}

.imageSlideShowWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 350px;
    height: 100%;
    overflow: hidden;
}