.formWrapper {
     height: 100vh;
     margin: auto;
     position: relative;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.loginFormWrapper {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 85px auto;
    align-items: center;
    padding: 25px;
    border: 2px solid black;
    border-radius: 25px;
    position: absolute;
    z-index: 1;
    left:35%;
    right: 35%;
    background-color: rgba(255, 255, 255, 0.471);
 
}

.emailInputWrapper {
    width: 270px;
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 0px;
}

.passwordInputWrapper {
    width: 270px;
    display: flex;
    flex-direction: column;
}

.lable {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 45.5px;
}

.input {
    text-decoration: none;
    border: none;
    background-color: rgba(253, 249, 249, 0.949);
    height: 35px;
    border-radius: 12px;
    opacity: 0.5;
}

.submitBtn {
    padding: 12px;
    align-items: center;
    margin-top: 20px;
    width: 160px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: none;
    background-color: grey;
    transition: 0.5s;
    border:1px solid transparent;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}


.submitBtn:hover {
    transition: 1s;
    cursor: pointer;
    color: rgb(246, 242, 242);
    box-shadow: 0px 5px 12px 4px rgba(128, 128, 128, 0.862);
    border:1px solid black;
}

.submitBtn:active  {
    background-color: rgb(133, 55, 55);
}

.imageStyle {
    width:100%;
    height: 100%;
    position: absolute;
    opacity: 0.1;
   
}

.signUpLink {
    margin: 15px;
}

.signUpLink a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}


.signUpLink a:hover {
    color: black;
}

.headerHello {
    text-align: center;
    color: wheat;
}

.greetingsWrapper {
    display: flex;
    flex-direction: column;
}

.greetingsWrapper:hover {
    cursor: pointer;
    
}

.greetingsWrapper p {
    color: aliceblue;
    margin: 0px;
    transition: 1101ms;
}

.headerHello:hover {
    transition: 1101ms;
    color: gold;
}