.formWrapper {
        height: 100vh;
     margin: auto;
     position: relative;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signUpFormWrapper {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 55px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: aquamarine;
    background-color: rgba(255, 255, 255, 0.471);
    position: absolute;
    left:35%;
    right: 35%;
}

.emailInputWrapper {
    width: 270px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 0px;
}

.passwordInputWrapper {
    width: 270px;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 45.5px;
}

.input {
    text-decoration: none;
    border: none;
    background-color: rgb(241, 236, 236);
    height: 35px;
    border-radius: 12px;
}

.submitBtn {
    padding: 12px;
    align-items: center;
    margin-top: 20px;
    width: 160px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: none;
    background-color: grey;
    transition: 0.5s;
    border:1px solid transparent;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

.submitBtn:hover {
    cursor: pointer;
    color: rgb(229, 225, 225);
}

.submitBtn:active {
    background-color: rgb(133, 55, 55);
}

.spanLink {
    margin: 15px;
}

.spanLink a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.spanLink a:active {
    color: red;
}

.imageStyle {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.1;
}