
.formWrapper {
    min-height: 100%;
}

.signUpFormWrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 345px;
    margin: auto;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 55px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: aquamarine;
}

.emailInputWrapper {
    width: 270px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 0px;
}

.passwordInputWrapper {
    width: 270px;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 45.5px;
}

.input {
    text-decoration: none;
    border: none;
    background-color: grey;
    height: 35px;
    border-radius: 12px;
}

.submitBtn {
    padding: 12px;
    align-items: center;
    margin-top: 20px;
    width: 160px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: none;
    background-color: grey;
}

.submitBtn:hover {
    cursor: pointer;
    color: red;
}

.submitBtn:active  {
    background-color: rgb(133, 55, 55);
}

.spanLink a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: black;
    font-weight:600;
}

.spanLink a:active {
    color: red;
}

