
.headerWrapper {
    width: 100%;
    height: 150px;
    background-color: rgba(59, 60, 61, 0.986);
    display: flex;
    align-items: center;
}


.logo {
    margin-left: 30px;
    flex-grow: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: white;
    text-decoration: none;
}

.navBarWrapper {
    display: flex;
    margin-right: 30px;
    max-width: 100%;
    align-items: center;
}

.navBarListItems {
    padding: 15px;
    margin: 8px;
    list-style: none;
    border-bottom: 3px solid transparent;
    
}


.navBarListItems a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
    
}

.navBarListItems a:hover {
    border-bottom: 2px solid black;
}


@media (max-width: 768px) {

    
    .headerWrapper {
        max-width: 768px;
        max-height: 200px;
        
    }

    .logo {
        flex-grow: 1.5;
    }
    
    .burger {
        position: absolute;
        left: 250px;
        margin-left: 50px;
        width: 50px;
        height: 40px;
        border-radius: 5px 5px 5px 5px;
        border-top: 5px solid black;
        border-left: none;
        border-right: none;
        border-bottom: 5px solid black;
    }

    .burgerLine {
        border-radius: 15px 15px;
        margin-top: 37.5%;
        border-top: 5px solid black;
    }

    .logo {
        font-size: 20px;
    }


    .navBarWrapper {
        margin: 327px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        max-width: 400px;
        background-color: rgb(59, 60, 61);
        z-index: 2;
    }

    .navBarListItems {
        padding: 3px;
    }

    .navBarListItems a {
        color: rgb(222, 222, 236);
        font-weight: bold;
    }
}