
.gameTemplateComponentWrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-columns: repeat(4,1fr);
    
}

.gameTemplateHeader {
    width: 100%;
    border-bottom: 2px solid black;
}

.gameTempalteWrapper  {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    height: 350px;
    padding: 20.5px;
    margin: 30px 10px 0px 0px;
    border-radius: 18px;
    border: 3px solid gray;
    align-items: center;
    
}


@media all and (max-width: 768px) {

    .gameTemplateComponentWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }

    .gameTempalteWrapper {
        display: flex;
        min-width: 340px;
        height: 270px;
        margin: 30px auto;
        margin: 10px auto 10px auto;
    }

}