
.gameTemplateComponentWrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-columns: repeat(4,1fr);
    
}

.gameTempalteWrapper  {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    height: 250px;
    padding: 25.5px;
    margin: 30px;
    border-radius: 15%;
    border: 3px solid gray;
    align-items: center;
    
}

@media all and (max-width: 768px) {

    .gameTemplateComponentWrapper {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: auto;
    }

    .gameTempalteWrapper {
        display: flex;
        width: 300px;
        height: 250px;
        margin: 30px auto;
    }

}